<!DOCTYPE html>
<title>Heaps</title>
<link rel="stylesheet" href="build/main.css" />
<script src="build/vendor.min.js"></script>
<script src="build/main.js"></script>

<main id="heaps" v-on="dragover:dragover, drop:drop($event, lists)">
  <section class="toolbar">
    <h1>{{name}}</h1>
    <button v-on="click: save()">Save</button>
  </section>
  <section>
    <article v-repeat="lists"
            draggable="true"
            v-on="dragstart:dragstart($event, lists),
                  dragend:dragend($event, lists),
                  dragover:dragover,
                  dragenter:dragenter($event, lists)">
      <h2>
        <span v-on="dblclick: toggleClass($event, 'edit')">{{name}}</span>
        <input type="text" v-model="name"
                v-on="keyup: toggleClass($event, 'edit') | key enter">
      </h2>
      <ul droppable="true" v-on="dragover:dragover, drop:drop($event, cards)">
        <li v-repeat="card : cards"
            draggable="true"
            v-on="dragstart:dragstart($event, cards),
                  dragend:dragend($event, cards),
                  dragover:dragover,
                  dragenter:dragenter($event, cards)">
          <p>
            <span v-on="dblclick: toggleClass($event, 'edit')"
                  class="{{card.done ? 'done' : ''}}">{{card.name}}</span>
            <input type="text" v-model="card.name"
                  v-on="keyup: toggleClass($event, 'edit') | key 13">
          </p>
        <p>{{card.desc}}</p>
        </li>
      </ul>
    </article>
  </section>
</main>
